* {
  box-sizing: border-box;
}
body {
  font-family: Raleway;
  font-size: 1em;
}
section {
  padding: 20px;
}
h1 {
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 10px;
}
h2 {
  font-size: 1.4em;
  font-weight: bold;
}
h3 {
  font-weight: 800;
  font-size: 1em;
}
p {
  font-size: 1em;
  padding-bottom: 10px;
  font-weight: normal;
}
header,
main {
  max-width: 1130px;
  margin: 0 auto;
}
main {
  flex-direction: column;
}
article {
  box-shadow: 0px 0px 35px 3px rgba(172, 172, 172, 0.44);
  border-radius: 20px;
  background-color: white;
}
article:hover {
  -webkit-transform: scale(1.01); /* Safari et Chrome */
  -moz-transform: scale(1.01); /* Firefox */
  -ms-transform: scale(1.01); /* Internet Explorer 9 */
  -o-transform: scale(1.01); /* Opera */
  transform: scale(1.01);
}
a {
  text-decoration: none;
  color: black;
}
/* blues stars for notations */
.active {
  color: #0065fc;
}
/*header*/
header {
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
}
header > a:nth-child(1) {
  padding-left: 20px;
}

header > a:nth-child(2) {
  padding-right: 20px;
  color: #0065fc;
}
header nav {
  flex-basis: 100%;
  justify-content: space-between;
  margin-top: 20px;
}
header ul {
  flex-basis: 100%;
  justify-content: space-around;
}
header li {
  width: 50%;
  border-bottom: solid 3px #f2f2f2;
  padding-bottom: 20px;
  justify-content: center;
}
header li:hover {
  border-bottom: solid 3px #0065fc;
}
header li:hover a {
  color: #0065fc;
}
/*section search*/
#section-search form {
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-basis: 100%;
  height: 55px;
  max-width: 350px;
  border: solid 2px #f2f2f2;
  border-radius: 20px;
  margin-top: 20px;
}
#section-search label {
  padding: 17px 20px 20px 20px;
  background-color: #f2f2f2;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  align-content: flex-start;
  margin: -1px;
}
#section-search button {
  border-radius: 18px;
  padding: 18px 18px 20px 18px;
  border: none;
  color: white;
  background-color: #0065fc;
}
#section-search span:first-child {
  display: none;
}

#section-search i {
  font-size: 1.3em;
}

#section-search input[type="text"] {
  outline-style: none;
  border: none;
  font-size: 1.2em;
  padding-left: 10px;
  overflow: auto;
}
#section-search form ::placeholder {
  color: black;
  opacity: 1;
  font-weight: bold;
}
/* section Filters */
#section-filter {
  flex-direction: column;
}
#section-filter ul {
  margin: 10px 0;
}
#section-filter li {
  border: solid 2px #f2f2f2;
  border-radius: 50px;
  padding-right: 15px;
  font-size: 1em;
  font-weight: 800;
  margin: 6px;
}
#section-filter li:hover {
  background-color: #deebff;
}
#section-filter ul i {
  color: #0065fc;
  width: 3em;
  line-height: 3em;
  border-radius: 50%;
  text-align: center;
  background-color: #deebff;
  margin: -1px 5px -1px -1px;
}
#section-filter p {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  line-height: 1.2em;
}
#section-filter p i {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2em;
  height: 2em;
  border-radius: 50%;
  border: solid 1px lightgray;
  color: #0065fc;
  margin-right: 5px;
  font-size: 0.7em;
}
/* The most popular section */
#section-theMostPopular {
  background-color: #f2f2f2;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
}
#section-theMostPopular h2 {
  justify-content: space-between;
  flex-basis: 100%;
  font-weight: 800;
}
#section-theMostPopular a {
  display: flex;
  flex-basis: 100%;
}
#section-theMostPopular img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#section-theMostPopular article {
  padding: 4px;
  flex-basis: 100%;
}
#section-theMostPopular figure {
  flex-basis: 45%;
  height: 155px;
}
#section-theMostPopular div {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: flex-start;
}
#section-theMostPopular h3 {
  margin-bottom: 10px;
}
#section-theMostPopular p {
  font-size: 0.9em;
}
#section-theMostPopular article div div {
  color: #f2f2f2;
  flex-direction: row;
  align-items: flex-end;
  margin-top: auto;
  padding: 0;
  font-size: 0.8em;
}
/* section accommodations and section activities*/
#section-accommodations,
#section-activities {
  flex-direction: column;
  padding-top: 30px;
  row-gap: 20px;
}
#section-accommodations article{
  padding: 4px;
}
#section-accommodations article div div {
  color: #f2f2f2;
}
#section-accommodations h3,
#section-activities h3,
#section-accommodations p,
#section-accommodations article div div {
  padding-left: 10px;
}
#section-accommodations p {
  font-size: 0.9em;
  padding-top: 5px;
}

#section-accommodations div i {
  font-size: 0.8em;
}
#section-activities div {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#section-accommodations figure {
  height: 58%;
}
#section-activities figure {
  height: 75%;
}
#section-accommodations img,
#section-activities img {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 100%;
}
#section-activities a,
#section-accommodations a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 10px;
}
#section-activities a {
  row-gap: 15px;
}
#section-activities article,
#section-accommodations article {
  height: 200px;
}
/*footer */

footer {
  flex-direction: column;
  padding: 20px;
  background-color: #f2f2f2;
}
footer li {
  line-height: 2em;
}
footer h3 {
  margin: 20px 0;
}
@media screen and (min-width: 576px) {
  #section-theMostPopular {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #section-theMostPopular article {
    flex-basis: 65%;
    margin: 0 auto;
  }

  #section-theMostPopular h2,
  #section-accommodations h2,
  #section-activities h2 {
    flex-basis: 100%;
  }
  #section-accommodations {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  #section-accommodations article {
    flex-basis: 48%;
  }
  #section-activities #container-activities-items  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #container-activities-items > div:nth-child(4),
  #container-activities-items > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 48%;
  }
  #container-activities-items > div:nth-child(1),
  #container-activities-items > div:nth-child(3) {
    display: flex;
    width: 48%;
    height: 200px;
    order: 1;
  }
}
@media screen and (min-width: 762px) {
  #section-theMostPopular article {
    flex-basis: 32%;
  }
  header {
    padding-top: 0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }
  header nav {
    flex-basis: 30%;
    justify-content: space-between;
    margin-top: 0;
  }
  header > a:nth-child(2) {
    display: flex;
    flex-basis: 15%;
    order: 1;
    padding-right: 0;
    justify-content: center;
    padding-top: 28px;
  }
  header > a:first-child {
    margin-right: auto;
    padding-top: 10px;
  }
  header li {
    border-top: solid 2px #f2f2f2;
    padding-top: 26px;
    padding-bottom: 0;
    border-bottom: none;
    justify-content: center;
    margin-top: 0;
  }
  header li:hover {
    border-top: solid 2px #0065fc;
    border-bottom: none;
  }
  #section-search button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: -1.8px;
  }
  #section-search span:nth-child(2){
    display: none;
  }
  #section-search span:first-child {
    display: flex;
    font-weight: bold;
  }
  footer {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 992px) {
  header img {
    width: 140px;
  }
  #section-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 20px;
  }
  #section-theMostPopular {
    border-radius: 20px;
  }
  #section-accommodations article {
    flex-basis: 32%;
  }
  #container-activities-items > div:nth-child(4),
  #container-activities-items > div:nth-child(2) {
    width: 65%;
    flex-direction: row;
    column-gap: 20px;
  }
  #container-activities-items > div:nth-child(1),
  #container-activities-items > div:nth-child(3) {
    width: 33%;
    height: 200px;
  }
  #container-activities-items > div:nth-child(2) {
    order: 1;
  }
  #container-activities-items > div:nth-child(4) article,
  #container-activities-items > div:nth-child(2) article {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 1200px) {
  #section-filter {
    padding-top: 0;
  }
  #section-filter p {
    margin-top: 20px;
  }
  #container-popular-and-accommodations {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
  }
  #section-theMostPopular {
    flex-direction: column;
    flex-basis: 32%;
    order: 1;
    padding: 30px;
  }
  #section-theMostPopular article {
    max-height: 130px;
  }
  #section-theMostPopular figure {
    flex-basis: 40%;
    height: auto;
  }
  #section-theMostPopular img {
    height: 121px;
  }
  #section-accommodations {
    flex-basis: 68%;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 30px;
    row-gap: 20px;
    column-gap: 12px;
  }
  #section-accommodations > a {
   display: inline;
   height: auto;
   margin-top: auto;
  }
  #section-accommodations article {
    height: 180px;
  }
  #section-accommodations  figure {
    height: 55%;
  }
  #section-accommodations article a div {
    height: 52%;
  }
   h3 {
    font-size: 0.95em;
  }
  #section-activities figure {
    height: 90%;
  }
  #section-activities figcaption {
    height: 10%;
    align-content: center;
    padding-left: 5px;
  }
  #container-activities-items {
    height: 400px;
    margin-bottom: 20px;
  }
  #container-activities-items > div {
    flex-basis: 23%;
    height: 100% !important;
  }
  #container-activities-items > div:nth-child(2),
  #container-activities-items > div:nth-child(4) {
    flex-direction: column;
    row-gap: 40px;
  }
  #container-activities-items > div:first-child {
    order: 1;
  }
  #container-activities-items > div:nth-child(2) {
    order: 2;
  }
  #container-activities-items > div:nth-child(3) {
    order: 3;
  }
  #container-activities-items > div:nth-child(4) {
    order: 4;
  }
  #container-activities-items > div:first-child > article,
  #container-activities-items > div:nth-child(3) > article {
    height: 100%;
  }
  #container-activities-items > div:first-child article a figure,
  #container-activities-items > div:nth-child(3) article a figure {
    height: 91%;
  }
  #container-activities-items > div:first-child article a figcaption,
  #container-activities-items > div:nth-child(3) article a figcaption {
    height: 9%;
  }
  #container-activities-items > div:nth-child(2) >  article:first-child,
  #container-activities-items > div:nth-child(4) >  article:nth-child(2) {
    height: 53%;
  }
  #container-activities-items > div:nth-child(2) >  article:nth-child(2),
  #container-activities-items > div:nth-child(4) >  article:nth-child(1) {
    height: 30%;
  }
  #container-activities-items > div:nth-child(2) > article:first-child figure,
  #container-activities-items > div:nth-child(4) > article:nth-child(2) figure {
    height: 76%;
  }
  #container-activities-items > div:nth-child(2) > article:nth-child(2) figure,
  #container-activities-items > div:nth-child(4) > article:first-child figure {
    height: 70%;
  }
  #container-activities-items > div:nth-child(2) > article:first-child figcaption,
  #container-activities-items > div:nth-child(4) > article:nth-child(2) figcaption {
    height: 33%;
  }
  #container-activities-items > div:nth-child(2) > article:nth-child(2) figcaption,
  #container-activities-items > div:nth-child(4) > article:first-child figcaption {
    height: 33%;
  }
  #container-activities-items > div:nth-child(2) > article:nth-child(2) figure,
   #container-activities-items > div:nth-child(4) > article:first-child figure  {
    height: 67%;
  }
}