
.d-flex {
    display: flex; 
}
.d-none {
    display: none;
}
.f-wrap {
    flex-wrap: wrap;
}
.float-r {
    float: right;
}
.notations {
    color:  #F2F2F2;
    display: flex;
    float: left;
}
.notations--active {
    color: #0065FC;
}
.cheaper {
    font-weight: bold;
}