


/* display */
.d-flex {
    display: flex;
}
.d-none {
    display: none;
}

/* margin */

.margin-1rem {
    margin: 1rem;
}
.margin-1rem-0 {
    margin: 1rem 0;
}
.margin-bttm-2rem {
    margin-bottom: 1rem;
}


/* padding */

.pad-section-title {
    padding: 2rem 0 1rem 1rem;
}
.pad-1v5rem {
    padding: 1.5rem;
}
.pad-bttm-2rem {
    padding-bottom: 1rem;
}
.pad-1rem {
    padding: 0.5rem 1rem  0.2rem 1rem;
}
.pad-top-3rem {
    padding-top: 3rem;
}

/* axe principal*/

.f-d-row {
    flex-direction: row;
}
.f-wrap {
    flex-wrap: wrap;
}
.f-d-col {
    flex-direction: column;
}
.justify-content-evenly {
    justify-content: space-evenly;
}
.justify-content-center {
    justify-content: center;
}
.space-arnd-content {
    justify-content: space-around;
}
.space-btw-content {
    justify-content: space-between;
}
.w-100 {
    width: 100%;
}

/* axe secondaire */
.flex-flow-col {
    flex-flow: column wrap;
}

/* font */
.bold {
    font-weight: bold;
}
.fs-p-article {
    font-size: 0.8rem;
}

.blue-stars {
    color: #0065FC !important;
}
/* float */

.float-r {
    float: right;
}