.d-flex {
    display: flex;
}

.margin-3rem {
    margin: 3rem;
}
.space-btw-content {
    justify-content: space-between;
}

.bold {
    font-weight: bold;
    color: black;
}
.d-none {
    display: none;
}
.margin-btm-3rem {
    margin-bottom: 3rem;
}
.f-wrap {
    flex-wrap: wrap;
}